===
title: Context Variables
subtitle: Using context variables in hyde

Hyde by default makes the following variables available for templates:

*   `site` - Represents the container object of the entire site
*   `node` - The node (folder) where the current file resides
*   `resource` - The resource (file) that is currently being processed
*   Context Variables - All variables defined under the `context` section of
    the site configuration are available to the templates.

Read more information about `site`, `node` & `resource` variables in
[site model documentation][sitemodel].

Read more information about context variables in the
[configuration documentation][ctxconfig].

index: 7
===
